.App {
  text-align: center;
}
.active .navBar{
  display: none
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  color:rgb(34, 87, 34);
  font-size: xx-large;
}

	.textbox { 
    background: white; 
    border: 1px solid rgb(34, 87, 34); 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px rgb(34, 87, 34); 
    color: rgb(34, 87, 34); 
    outline: none; 
    height:23px; 
    width: 25em; 
    margin-right: 10px;
  } 

  .button{
    background: rgb(34, 87, 34);
   
    border: 1px solid rgb(34, 87, 34); 
    border-radius: 5px; 
    box-shadow: 0 0 5px 3px rgb(34, 87, 34)y; 
    color:white; 
    outline: none; 
    height:23px; 
    width: 60px; 
    height: 30px;
    margin: 10px;

  }

  #boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 3%;
   

  }

  #gameList{
    border: solid;
    padding: 20px;
   
  }

  #title{
    margin-top: 100px;
  }

  #description{
    height: 15em;
    width: 25em;
  }
  