/* sidebar Nav */

.navBar {
    position: relative;
  }
  
  .navBar button {
    position: fixed;
    
    top: 20px;
    z-index: 10;
    cursor: pointer;
    background: transparent;;
    border: none;
  }
  
  .menuNav {
  
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    background: green;
    width: 100%;
    height: fit-content;
  }
  
  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  }

  #buttonBox{
      height: 50px;
  }

  @media (min-device-width:600px) {
    .navBar{
        display: none;
    }
    
}
